# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
arLen= pokemon[pokemon['Legendary']==True]['Total']
arNlen= pokemon[pokemon['Legendary']==False]['Total']
print('Legendary mean: ',np.mean(arLen),' std: ',np.std(arLen))
print('Not Legendary mean: ',np.mean(arNlen),' std: ',np.std(arNlen))

Legendary mean:  637.3846153846154  std:  60.46682302213779
Not Legendary mean:  417.21360544217686  std:  106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
from scipy import stats
stats.ttest_ind(arLen,arNlen)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
#La conclusión es que si que hay una diferencia significativa entre los valores y la probabilidad de que esto sea así es
#de más del 99.9999%

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
arWat= pokemon[pokemon['Type 1']=='Water']['Total']
arNw= pokemon[pokemon['Type 1']!='Water']['Total']
print('Water mean: ',np.mean(arWat),' std: ',np.std(arWat))
print('Not Water mean: ',np.mean(arNw),' std: ',np.std(arNw))

Water mean:  430.45535714285717  std:  112.681828329091
Not Water mean:  435.85901162790697  std:  121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
stats.ttest_ind(arWat,arNw)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:
#La conclusión es que con una probabilidad del 99.4% los valores de las dos muestras no se parecen

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
stats.ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
#Con una probabilidad de casi el 100% va a haber poca diferencia entre los valores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
stats.ttest_ind(pokemon.Attack,pokemon.Defense)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
#Los valores varían poco con una probabilidad grande

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
stats.ttest_1samp(pokemon.Attack.sub(pokemon.Defense,axis=0),0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [29]:
# Your code here:
dfCon =pd.crosstab(pokemon.Legendary,pokemon['Type 1'])
dfCon

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [30]:
# Your code here:

chi2, p, dof, ex = stats.chi2_contingency(dfCon)
pd.DataFrame(ex)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,63.39375,28.48125,29.4,40.425,15.61875,24.80625,47.775,3.675,29.4,64.3125,29.4,22.05,90.0375,25.725,52.36875,40.425,24.80625,102.9
1,5.60625,2.51875,2.6,3.575,1.38125,2.19375,4.225,0.325,2.6,5.6875,2.6,1.95,7.9625,2.275,4.63125,3.575,2.19375,9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [32]:
# Your answer here:
p
#Si

5.118547414721704e-12