# Importación pandas y lectura del archivo

In [1]:
#importanción de pandas
import pandas as pd

In [2]:
#lectura del e importación del csv como DataFrame
df = pd.read_csv("./input/GSAF5.csv")

In [3]:
df.shape

(5992, 24)

In [4]:
print(df.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Voy a renombrar columnas para facilitar el acceso

In [5]:
df.columns =['caseNumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal(Y/N)', 'time',
       'species', 'investigatorSource', 'pdf', 'hrefFormula', 'href',
       'caseNumber1', 'caseNumber2', 'originalOrder', 'Unnamed22',
       'Unnamed23']
df.head()

,caseNumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatorSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,Unnamed22,Unnamed23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

# Limpieza de valores nulos

In [6]:
#Compruebo columnas con valores nulos
null_cols = df.isnull().sum()
null_cols[null_cols > 0]
null_cols

caseNumber               0
date                     0
year                     0
type                     0
country                 43
area                   402
location               496
activity               527
name                   200
sex                    567
age                   2681
injury                  27
fatal(Y/N)              19
time                  3213
species               2934
investigatorSource      15
pdf                      0
hrefFormula              1
href                     3
caseNumber1              0
caseNumber2              0
originalOrder            0
Unnamed22             5991
Unnamed23             5990
dtype: int64

In [7]:
#Guardo un data Frame con las columnas que no tienen valores nulos, están limpias
dfNotNull = df[["caseNumber","date","year","type","pdf","caseNumber1","caseNumber2","originalOrder"]]

En este punto tomo la decisión de dropear del Data Frame principal las columnas Unnamed22 y 23,
pues la totalidad de sus registros prácticamente son nulos

In [8]:
df = df.drop(columns = ["Unnamed22","Unnamed23"])

Cambio los nulos a -1 en edad y lo marco en el índice de la columnas

In [9]:
dfNotNull["age(-1NoData)"] = df['age'].fillna(-1)

Valoro qué hacer con los nulos de la columna time

In [10]:
pd.DataFrame(df['time'].value_counts())

            time
Afternoon    174
11h00        123
12h00        107
Morning      107
15h00        100
...          ...
19h35          1
After dusk     1
17h35          1
13h23          1
07h08          1

[357 rows x 1 columns]

Voy a cambiar los nulos de time, merece la pena limpiar la columna

In [11]:
dfNotNull["timeDirty"] = df['time'].fillna("noData")

Voy a analizar species

In [12]:
pd.DataFrame(df["species"].value_counts())

                                         species
White shark                                  161
Shark involvement not confirmed               80
Tiger shark                                   68
Bull shark                                    52
6' shark                                      40
...                                          ...
A 6.5' "blue-nosed shark"                      1
1.5 m to 1.8 m [5' to 6'] sandbar shark        1
Bull shark, 2.5 m                              1
1.2 m [4'] dusky shark                         1
Lemon shark, 4'                                1

[1538 rows x 1 columns]

In [13]:
'''Decido cambiar los nulos a Shark involvement not confirmed, parece lógico agrupar en esta categoría los nulos de species'''
dfNotNull["species"] = df['species'].fillna("Shark involvement not confirmed")

El resto de columnas que tienen no válidos contienen pocos por lo que voy a meter valores que no lleven a confusión

In [14]:
dfNotNull["country"] = df['country'].fillna("unknown")
dfNotNull["area"] = df['area'].fillna("unknown")
dfNotNull["location"] = df['location'].fillna("unknown")
dfNotNull["activity"] = df['activity'].fillna("unknown")
dfNotNull["name"] = df['name'].fillna("unknown")
dfNotNull["sex"] = df['sex'].fillna("unknown")
dfNotNull["injury"] = df['injury'].fillna("unknown")
dfNotNull["fatal(Y/N/unknow)"] = df['fatal(Y/N)'].fillna("unknown")
dfNotNull["investigatorSource"] = df['investigatorSource'].fillna("unknown")
dfNotNull["hrefFormula"] = df['hrefFormula'].fillna("unknown")
dfNotNull["href"] = df['href'].fillna("unknown")
#Compruebo que no hay nulos
null_cols = dfNotNull.isnull().sum()
#null_cols[null_cols > 0]
null_cols

caseNumber            0
date                  0
year                  0
type                  0
pdf                   0
caseNumber1           0
caseNumber2           0
originalOrder         0
age(-1NoData)         0
timeDirty             0
species               0
country               0
area                  0
location              0
activity              0
name                  0
sex                   0
injury                0
fatal(Y/N/unknow)     0
investigatorSource    0
hrefFormula           0
href                  0
dtype: int64

# Limpieza de columna "fatal"

Empiezo analizando los tipos de valores y asignando un nombre a la columna

In [15]:
fatal = "fatal(Y/N/unknow)"
cleanFatal = dfNotNull[fatal]
cleanFatal.value_counts()

N          4315
Y          1552
UNKNOWN      94
unknown      19
 N            8
F             1
n             1
N             1
#VALUE!       1
Name: fatal(Y/N/unknow), dtype: int64

He programado una pequeña función que limpia los valores que no son interesantes, hago apply y miro que esté bién

In [16]:
from functions import cleanTextInFatal
cleanFatal = cleanFatal.apply(cleanTextInFatal)
cleanFatal.value_counts()

N          4421
Y          1552
UNKNOWN      19
Name: fatal(Y/N/unknow), dtype: int64

In [17]:
#Lo añado a un dataFrame que tendrá los datos limpios
dfClean = pd.DataFrame(cleanFatal)
dfNotNull = dfNotNull.drop(columns =fatal)
#elimino los objetos que no voy a usar
del cleanFatal
del fatal

In [18]:
dfNotNull.columns

Index(['caseNumber', 'date', 'year', 'type', 'pdf', 'caseNumber1',
       'caseNumber2', 'originalOrder', 'age(-1NoData)', 'timeDirty', 'species',
       'country', 'area', 'location', 'activity', 'name', 'sex', 'injury',
       'investigatorSource', 'hrefFormula', 'href'],
      dtype='object')

# Limpieza de columna type

In [19]:
dfNotNull["type"].value_counts().index

Index(['Unprovoked', 'Provoked', 'Invalid', 'Sea Disaster', 'Boat', 'Boating'], dtype='object')

In [20]:
#diría que no tiene demasiado sentido boat y boating, los voy a cambiar a junto con Invalid a unknown
dfClean["type"]=dfNotNull["type"].replace(
    ['Invalid', 'Sea Disaster',"Boat","Boating"],
    'UNKNOWN',
    
)
dfClean["type"].value_counts()

Unprovoked    4386
UNKNOWN       1049
Provoked       557
Name: type, dtype: int64

In [21]:
dfNotNull=dfNotNull.drop(columns = "type")
dfNotNull.columns

Index(['caseNumber', 'date', 'year', 'pdf', 'caseNumber1', 'caseNumber2',
       'originalOrder', 'age(-1NoData)', 'timeDirty', 'species', 'country',
       'area', 'location', 'activity', 'name', 'sex', 'injury',
       'investigatorSource', 'hrefFormula', 'href'],
      dtype='object')

# Limpieza columna activity

Voy a analizar los datos, pues esta columna debería ser categorizable

In [22]:
activitySerie = dfNotNull["activity"]
activitySerie.value_counts().head(40)

Surfing                 904
Swimming                819
unknown                 527
Fishing                 414
Spearfishing            321
Bathing                 153
Wading                  144
Diving                  123
Standing                 97
Snorkeling               77
Scuba diving             74
Body boarding            54
Body surfing             48
Swimming                 47
Treading water           32
Pearl diving             32
Boogie boarding          28
Kayaking                 28
Free diving              26
Fell overboard           21
Windsurfing              18
Boogie Boarding          16
Walking                  15
Shark fishing            15
Surf skiing              12
Fishing                  12
Floating                 12
Canoeing                 12
Surf-skiing              12
Rowing                   12
Fishing for sharks       11
Surf fishing             11
Sponge diving            10
Freediving               10
Kayak Fishing            10
Diving for trochus        9
Sailing                   9
Sitting on surfboard      9
Sea disaster              8
Fell into the water       8
Name: activity, dtype: int64

Determino hacer algunos replaces para categorizar

In [23]:
"Voy a hacer alguno replace para unificar algunos datos fáciles"
activitySerie=activitySerie.replace(
    ['Swimming ',"Floating on his back"],
    'Swimming',
    
)
activitySerie=activitySerie.replace(
    'Fishing ',
    'Fishing',
    
)
activitySerie=activitySerie.replace(
    ['Diving for abalone',"Diving for trochus","Fishing for mackerel","Free diving for abalone","Sponge diving",
    "Hard hat diving", "Diving for coins","Freediving"
],
"Diving"    
)

activitySerie=activitySerie.replace(
    ['Surfing (sitting on his board)',"Sitting on surfboard"],
"Surfing"   
)

activitySerie=activitySerie.replace(
    ['Treading water',"Playing","Walking","Standing"],
"Wading"  
)
activitySerie=activitySerie.replace(
    ['Spearfishing ',"Skindiving","Spearfishing on Scuba","Scuba diving (but on surface)","Scuba diving (submerged)"],
"Spearfishing"   
)
activitySerie=activitySerie.replace(
    ["Murder","Sea Disaster"],
"unknown"  
)
activitySerie=activitySerie.replace(
    ['Fell overboard ',"Canoeing","Fell into the water","Boat","Dangling feet in the water","Sailing "],
"Boating"   
)

activitySerie=activitySerie.replace(
    ['Surf-skiing  ',"Surf skiing "],
"Surf skiing"   
)

activitySerie=activitySerie.replace(
    ['Sea Disaster '],
"Sea Disaster"   
)
 
activitySerie.value_counts().head(40)

Surfing                  920
Swimming                 873
unknown                  539
Fishing                  426
Spearfishing             349
Wading                   295
Diving                   181
Bathing                  153
Snorkeling                77
Scuba diving              74
Body boarding             54
Body surfing              48
Boating                   38
Pearl diving              32
Kayaking                  28
Boogie boarding           28
Free diving               26
Fell overboard            21
Windsurfing               18
Surf skiing               18
Boogie Boarding           16
Shark fishing             15
Floating                  12
Rowing                    12
Surf-skiing               12
Fishing for sharks        11
Surf fishing              11
Kayak Fishing             10
Sailing                    9
Sea disaster               8
Paddle boarding            7
Kite Surfing               6
Paddleskiing               5
Fishing on a boat          5
Shipwreck                  5
Freedom swimming           5
Skin diving                4
Jumped into the water      4
Jumping                    4
Fishing boat               4
Name: activity, dtype: int64

Voy a categorizar la columna en los grupos que actualmente tienen más de 11 registros, 
para ello hago una lista con los que tienen menos de 11 
para ir filtrando y ver en qué categoria los meto

In [24]:
badGroupsInActivity =pd.DataFrame(activitySerie.value_counts()).query("activity<11").index
badGroupsInActivity = [str(ele) for ele in badGroupsInActivity]
print(len(badGroupsInActivity))

1436

In [25]:
#Programé unas funcionespara que convirtieran las categorías que no me interesan en alguna de las que tienen más de 11
from functions import cleanActivity

In [26]:
activitySerie = activitySerie.apply(cleanActivity,lista = badGroupsInActivity)

activitySerie.value_counts().head(40)

Bathing               1019
Surfing               1015
Swimming               873
Fishing                650
unknown                539
Spearfishing           399
Diving                 378
Wading                 295
Sailing                139
Scuba diving           114
Snorkeling              77
Body boarding           54
Shark fishing           51
Body surfing            48
Boating                 38
Pearl diving            32
Kayaking                28
Boogie boarding         28
Free diving             26
Surf fishing            24
Surf skiing             23
Windsurfing             21
Fell overboard          21
Body surf               16
Boogie Boarding         16
Rowing                  12
Floating                12
Surf-skiing             12
Fishing for sharks      11
Name: activity, dtype: int64

In [27]:
"Vuelvo a hacer print de la lista de valores que no quiero por si me hubiera dejado algo"
badGroupsInActivity =pd.DataFrame(activitySerie.value_counts()).query("activity<11").index

badGroupsInActivity = [str(ele) for ele in badGroupsInActivity]
print(len(badGroupsInActivity))

0

Perfecto, aún veo un par de índices que puedo categorizar, puedo usar la misma función para ello

In [28]:
listaConCategoriasFusionables =["Surf-skiing","Boating","Fishing for sharks"]
listaConCategoriasFusionables = [str(ele) for ele in listaConCategoriasFusionables]
activitySerie=activitySerie.replace(
    "Surf-skiing",
"Surf skiing"  
)
activitySerie=activitySerie.replace(
    ["Rowing","Boating"],
"Sailing"  
)
activitySerie=activitySerie.replace(
    'Fishing for sharks',
"Shark fishing"  
)

In [29]:
#Hago un display de la columna limpia para ver si el resultado es coherente
activitySerie.value_counts()

Bathing            1019
Surfing            1015
Swimming            873
Fishing             650
unknown             539
Spearfishing        399
Diving              378
Wading              295
Sailing             189
Scuba diving        114
Snorkeling           77
Shark fishing        62
Body boarding        54
Body surfing         48
Surf skiing          35
Pearl diving         32
Boogie boarding      28
Kayaking             28
Free diving          26
Surf fishing         24
Windsurfing          21
Fell overboard       21
Boogie Boarding      16
Body surf            16
Floating             12
Name: activity, dtype: int64

In [30]:
#En este punto creo que activity está muy limpio, lo añado y borro variables que no vaya a usar
dfClean["activity"] = activitySerie
del activitySerie
del badGroupsInActivity
dfNotNull = dfNotNull.drop(columns = "activity")

# Limpieza de country

In [31]:
dfNotNull["country"].value_counts().head(70)

USA                    2116
AUSTRALIA              1279
SOUTH AFRICA            565
PAPUA NEW GUINEA        133
NEW ZEALAND             125
                       ...
NORTH PACIFIC OCEAN       7
SAMOA                     7
KIRIBATI                  6
THAILAND                  6
CHINA                     6
Name: country, Length: 70, dtype: int64

Pienso que country está bastande limpio, 70 países distintos es coherente teniendo en cuenta
que existen unos 200,lo voy a añadir tal cual

In [32]:
dfClean["country"] = dfNotNull["country"]
dfNotNull=dfNotNull.drop(columns="country")

# Limpieza columna sex

In [33]:
dfNotNull["sex"].value_counts().index.tolist()

['M', 'F', 'unknown', 'M ', 'N', '.', 'lli']

No hace falta una función para tan pocos valores distintos, con replace los reemplazo

In [34]:
dfNotNull["sex"] = dfNotNull["sex"].replace(["M "],"M")
dfNotNull["sex"] = dfNotNull["sex"].replace([".","lli","N"],"unknown")
dfClean["sex"]= dfNotNull["sex"]
dfNotNull =dfNotNull.drop(columns = "sex")

In [35]:
dfClean["sex"].value_counts().index.tolist()

['M', 'F', 'unknown']

# Limpieza columna species

### Creación de nueva columna length

In [36]:
dfNotNull["species"].value_counts().head(40)
##Observo que en esta columna hay bastantes datos de longitud por lo que los voy a intentar separar y colocar en una columna de longitud

Shark involvement not confirmed    3014
White shark                         161
Tiger shark                          68
Bull shark                           52
6' shark                             40
4' shark                             39
1.8 m [6'] shark                     35
1.5 m [5'] shark                     32
1.2 m [4'] shark                     27
5' shark                             25
3' shark                             25
4' to 5' shark                       23
2 m shark                            22
3 m [10'] shark                      22
No shark involvement                 21
Wobbegong shark                      20
3' to 4' shark                       18
3 m shark                            16
2.4 m [8'] shark                     16
3.7 m [12'] shark                    15
Mako shark                           14
Blue shark                           14
12' shark                            14
Blacktip shark                       14
1.2 m to 1.5 m [4' to 5'] shark      14
7' shark                             14
5 m [16.5'] white shark              13
"a small shark"                      13
10' shark                            13
1.5 m shark                          13
Raggedtooth shark                    12
6 m [20'] white shark                12
Bronze whaler shark                  12
Zambesi shark                        12
4 m [13'] white shark                12
Grey nurse shark                     11
Nurse shark                          11
2.1 m [7'] shark                      9
3 m [10'] white shark                 9
1 m shark                             9
Name: species, dtype: int64

Observo que hay muchos patrones de longitud mezclados con los de especie, 
por lo que considero que es buena idea sacar esa información de longitud y hacer una columna nueva con ella,
para ello he programado una función que aplico a la columna y creo un DF nuevo con esa información

In [37]:
from functions import getLength

In [38]:
dfCleanLenght = pd.DataFrame(dfNotNull["species"].apply(getLength)).astype(str)

In [39]:
#Ahora renombrando la columna ya  tengo un dataframe con datos de longitudes
dfCleanLenght.columns = ["lenght(m-aprox)"]

In [40]:
dfCleanLenght["lenght(m-aprox)"].value_counts()

UNKNOWN    4289
1.0         347
2.0         220
3.048       115
3.0         101
           ...
0.838         1
5.5           1
1.753         1
5.182         1
2.553         1
Name: lenght(m-aprox), Length: 66, dtype: int64

In [41]:
#De lo que se deduce que he recuperado          
print("Longitudes recuperadas:",5992-4289)  
print("Corresponden al",(((5992-4289)/5992)*100),"% de los registros")

Longitudes recuperadas: 1703
Corresponden al 28.421228304405876 % de los registros

In [42]:
dfClean["lenght(m-aprox)"] = dfCleanLenght
dfClean

,fatal(Y/N/unknow),type,activity,country,sex,lenght(m-aprox)
0,N,Unprovoked,Surfing,USA,M,UNKNOWN
1,N,Unprovoked,Surfing,USA,M,UNKNOWN
2,N,Unprovoked,Surfing,USA,M,UNKNOWN
3,N,Unprovoked,Surfing,AUSTRALIA,M,UNKNOWN
4,N,Unprovoked,Surfing,AUSTRALIA,M,UNKNOWN
...,...,...,...,...,...,...
5987,Y,Unprovoked,Diving,AUSTRALIA,M,UNKNOWN
5988,Y,Unprovoked,Pearl diving,AUSTRALIA,M,UNKNOWN
5989,Y,Unprovoked,Swimming,USA,M,UNKNOWN
5990,Y,Unprovoked,unknown,PANAMA,M,UNKNOWN
5991,Y,Unprovoked,Swimming,CEYLON (SRI LANKA),M,UNKNOWN

### Limpieza de species

In [43]:
pd.DataFrame(dfNotNull["species"].value_counts())

                                         species
Shark involvement not confirmed             3014
White shark                                  161
Tiger shark                                   68
Bull shark                                    52
6' shark                                      40
...                                          ...
A 6.5' "blue-nosed shark"                      1
1.5 m to 1.8 m [5' to 6'] sandbar shark        1
Bull shark, 2.5 m                              1
1.2 m [4'] dusky shark                         1
Lemon shark, 4'                                1

[1538 rows x 1 columns]

Ok, voy a identificar una lista de especies y para pasarla como parámetro a mi función de limpieza

In [44]:
listSpecies =['WHITE','TIGUER','BULL','WOBBEGONG','BLACKSTRIP','MAKO','BLUE','RAGGEDTOOTH','ZAMBESI','BRONZE WHALER','OCEANIC','SPINNER','HAMMERHEAD','BLACKTIP','SALMON','DUSKY','REEF','LEOPARD','LEMON','SEVENGILL','BLACKTIP','DOGFISH','SEVENGILL','THRESHER','GALAPAGOS',"NURSE"]
from functions import cleanShark
dfClean["species"]=dfNotNull["species"].apply(cleanShark,speciesList = listSpecies)

In [45]:
dfNotNull = dfNotNull.drop(columns = "species")

In [46]:
dfClean["species"].value_counts()

SHARK INVOLVMENT NOT CONFIRMED    3036
UNKNOWN                           1607
WHITE SHARK                        600
BULL SHARK                         167
NURSE SHARK                         92
BRONZE WHALER SHARK                 63
BLUE SHARK                          56
MAKO SHARK                          55
REEF SHARK                          50
HAMMERHEAD SHARK                    49
WOBBEGONG SHARK                     45
RAGGEDTOOTH SHARK                   44
LEMON SHARK                         32
ZAMBESI SHARK                       32
SPINNER SHARK                       20
DUSKY SHARK                         15
GALAPAGOS SHARK                      5
THRESHER SHARK                       4
LEOPARD SHARK                        3
SALMON SHARK                         3
DOGFISH SHARK                        3
Name: species, dtype: int64

Considero el resultado bastante coherente como para añadirlo al resultado final

# Limpieza href (incompleted)

In [47]:
#Voy a ver si href y hrefFormula es información duplicada
import numpy as np
array = (dfNotNull["href"].values == dfNotNull["hrefFormula"].values)
array.size - np.sum(array)

54

De lo anterior deduzco que href y hrefFormula es información duplicada pues solo no coinciden en 54 registros

Las siguientes celdas de código están comentadas porque la función de chequeo URL es lenta y el resultado lo guardé en un csv que está en gitignore, además captura como válidas los pdf que no existen en el servidor, esto creo que se
debe al redireccionamiento, que en vez de devolver 404 como status_code devuelve 200 como si existiera de verdad, es bastante confuso porque en el html al que redirecciona si que pone el código 404 pero el servidor no lo devuelve.

In [48]:
#Programé una función para comprobar si la url que se le pasa es válida y el archivo exite, si lo es devuelve la Url, si no Unknown

#from functions import checkUrlValid

In [49]:
#ok ya tengo las válidas de href, ahora solo voy a pasar la función en href formula para los índice unknown por si puedo salvar alguna
"""validHref = dfNotNull["href"].apply(checkUrlValid)
validHref"""

'validHref = dfNotNull["href"].apply(checkUrlValid)\nvalidHref'

In [50]:
"""voy a guardar el df en un csv, porque la función es lenta, creo que la razón es que el servidor
solo deja hacer unas pocas peticiones por unidad de tiempo"""

'voy a guardar el df en un csv, porque la función es lenta, creo que la razón es que el servidor\nsolo deja hacer unas pocas peticiones por unidad de tiempo'

In [51]:
"""validHref = validHref.astype(str)
pd.DataFrame(validHref).to_csv("./validHrefDf.csv")"""

'validHref = validHref.astype(str)\npd.DataFrame(validHref).to_csv("./validHrefDf.csv")'

In [52]:
#Compruebo que se guardó, href válidas a 1-09-2019 01:11 AM
"""validHref = pd.read_csv("./outputignore/validHrefDf.csv")
validHref"""

'validHref = pd.read_csv("./outputignore/validHrefDf.csv")\nvalidHref'

In [53]:
#voy a ver las que no sirven
"""validHref["href"].value_counts()"""

'validHref["href"].value_counts()'

In [54]:
"""dfClean["href(verified1-09-2019)"] = validHref["href"]"""

'dfClean["href(verified1-09-2019)"] = validHref["href"]'

# Guardar el dataFrame en el archivo

In [55]:
pd.DataFrame(dfClean).to_csv("./output/clean.csv")
display(dfClean)

,fatal(Y/N/unknow),type,activity,country,sex,lenght(m-aprox),species
0,N,Unprovoked,Surfing,USA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
1,N,Unprovoked,Surfing,USA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
2,N,Unprovoked,Surfing,USA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
3,N,Unprovoked,Surfing,AUSTRALIA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
4,N,Unprovoked,Surfing,AUSTRALIA,M,UNKNOWN,UNKNOWN
...,...,...,...,...,...,...,...
5987,Y,Unprovoked,Diving,AUSTRALIA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
5988,Y,Unprovoked,Pearl diving,AUSTRALIA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
5989,Y,Unprovoked,Swimming,USA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
5990,Y,Unprovoked,unknown,PANAMA,M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED
5991,Y,Unprovoked,Swimming,CEYLON (SRI LANKA),M,UNKNOWN,SHARK INVOLVMENT NOT CONFIRMED

Guardo el dataFrame notNull en la carpeta marcada con gitIgnore,así sabré por donde continuar

In [56]:
pd.DataFrame(dfNotNull).to_csv("./input/dfNotNull.csv")