In [92]:
#importanción de pandas
import pandas as pd

In [93]:
#lectura del e importación del csv como DataFrame
df = pd.read_csv("./input/GSAF5.csv")

In [94]:
df.shape

(5992, 24)

In [95]:
print(df.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [96]:
#voy a renombrar columnas para facilitar el acceso
df.columns =['caseNumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal(Y/N)', 'time',
       'species', 'investigatorSource', 'pdf', 'hrefFormula', 'href',
       'caseNumber1', 'caseNumber2', 'originalOrder', 'Unnamed22',
       'Unnamed23']
df.head()

,caseNumber,date,year,type,country,area,location,activity,name,sex,...,species,investigatorSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,Unnamed22,Unnamed23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [97]:
#Compruebo columnas con valores nulos
null_cols = df.isnull().sum()
null_cols[null_cols > 0]
null_cols

caseNumber               0
date                     0
year                     0
type                     0
country                 43
area                   402
location               496
activity               527
name                   200
sex                    567
age                   2681
injury                  27
fatal(Y/N)              19
time                  3213
species               2934
investigatorSource      15
pdf                      0
hrefFormula              1
href                     3
caseNumber1              0
caseNumber2              0
originalOrder            0
Unnamed22             5991
Unnamed23             5990
dtype: int64

In [98]:
#Guardo un data Frame con las columnas que no tienen valores nulos, están limpias
dfNotNull = df[["caseNumber","date","year","type","pdf","caseNumber1","caseNumber1","caseNumber2","originalOrder"]]

In [99]:
'''En este punto tomo la decisión de dropear del Data Frame principal las columnas Unnamed22 y 23,
pues la totalidad de sus registros prácticamente son nulos'''
df = df.drop(["Unnamed22","Unnamed23"], axis=1)

In [100]:
'''la siguiente columnas con bastantes nulos es edad, esta vez lo que voy a hacer es meter en el dfNotNull una columna
 que se llame age(-1NoData) con los valores validos mas -1 para los valores inválidos'''
dfNotNull["age(-1NoData)"] = df['age'].fillna(-1)

In [101]:
'''La siguiente columna con muchos nulos, más de la mitad es time, voy a hacer un display para decidir si me interesa
guardar esa info'''

pd.DataFrame(df['time'].value_counts())

                time
Afternoon        174
11h00            123
12h00            107
Morning          107
15h00            100
...              ...
16h30 or 18h00     1
08h35              1
13h35              1
01h32              1
06j00              1

[357 rows x 1 columns]

In [102]:
'''Voy a cambiar los nulos, merece la pena limpiar la columna'''
dfNotNull["timeDirty"] = df['time'].fillna("noData")

In [103]:
'''Voy a analizar species'''
pd.DataFrame(df["species"].value_counts())

                                          species
White shark                                   161
Shark involvement not confirmed                80
Tiger shark                                    68
Bull shark                                     52
6' shark                                       40
...                                           ...
>2.4 m [8'] shark                               1
White shark, 5 m to 6 m [16.5' to 20]           1
Tiger shark, 2.4 m to 3.7 m [8' to 12']         1
White shark, 1,900-lb                           1
76 cm [2.5'] carpet shark                       1

[1538 rows x 1 columns]

In [104]:
'''Decido cambiar los nulos a Shark involvement not confirmed, parece lógico agrupar en esta categoría los nulos'''
dfNotNull["species"] = df['species'].fillna("Shark involvement not confirmed")

In [108]:
'''el resto de columnas que tienen no válidos contienen pocos por lo que voy a meter valores que no lleven a confusión'''

'el resto de columnas que tienen no válidos contienen pocos por lo que voy a meter valores que no lleven a confusión'

In [110]:
dfNotNull["country"] = df['country'].fillna("unknown")
dfNotNull["area"] = df['area'].fillna("unknown")
dfNotNull["location"] = df['location'].fillna("unknown")
dfNotNull["activity"] = df['activity'].fillna("unknown")
dfNotNull["name"] = df['name'].fillna("unknown")
dfNotNull["sex"] = df['sex'].fillna("unknown")
dfNotNull["injury"] = df['injury'].fillna("unknown")
dfNotNull["fatal(Y/N/unknow)"] = df['fatal(Y/N)'].fillna("unknown")
dfNotNull["investigatorSource"] = df['investigatorSource'].fillna("unknown")
dfNotNull["hrefFormula"] = df['hrefFormula'].fillna("unknown")
dfNotNull["href"] = df['href'].fillna("unknown")
#Compruebo que no hay nulos
null_cols = dfNotNull.isnull().sum()
#null_cols[null_cols > 0]
null_cols

caseNumber            0
date                  0
year                  0
type                  0
pdf                   0
caseNumber1           0
caseNumber1           0
caseNumber2           0
originalOrder         0
age(-1NoData)         0
timeDirty             0
species               0
country               0
area                  0
location              0
activity              0
name                  0
sex                   0
injury                0
fatal(Y/N/unknow)     0
investigatorSource    0
hrefFormula           0
href                  0
dtype: int64

In [ ]:
#No hay nulos